<nav id="navbar">
    <div>
        <img src="https://livejones.com/wp-content/uploads/2020/05/logo-Placeholder.png" alt="logo">
        <h1>Brand Name</h1>
    </div>
    <ul>
        <li><a href="/">Main Page</a></li>
        <li><a href="/adminProducts">Products</a></li>
        <li><a href="/adminSales">Sales</a></li>
        <li>
            <form action="/users/logout" method="post">
                <button type="submit" class="link">Logout</button>
            </form>
        </li>
    </ul>
</nav>