<footer id="footer">
    <ul>
        <li class="title">Title</li>
        <li class="link"><a href="/">one</a></li>
        <li class="link"><a href="/">two</a></li>
        <li class="link"><a href="/">three</a></li>
    </ul>
    <ul>
        <li class="title">Title</li>
        <li class="link"><a href="/">one</a></li>
        <li class="link"><a href="/">two</a></li>
        <li class="link"><a href="/">three</a></li>
    </ul>
    <ul>
        <li class="title">Admin Access</li>
        <li class="link"><a href="/login">Click Here</a></li>
    </ul>
</footer>