<nav id="navbar">
    <div>
        <img src="https://livejones.com/wp-content/uploads/2020/05/logo-Placeholder.png" alt="logo">
        <h1>Brand Name</h1>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/store">Store</a></li>
    </ul>
</nav>